@model PortfolioSite.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<header style="background-image: url(@Model.HeaderImage)">
    <div class="header-content">
        <div class="header-content-inner text-center">
            <h1 class="text-danger big-error">:(</h1>
            <h2 class="text-danger medium-error">@Model.ErrorMessage</h2>
            <hr>
            <a href="HOME" class="btn btn-primary btn-xl page-scroll">Try to take me to the home page</a>
        </div>
    </div>
</header>


